<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wcpfth=device-wcpfth, initial-scale=1.0">
    <title>Home pacientess</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-flucpf">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" cpf="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Add pacientes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center">View pacientess</h1>
        <div class="container">
            <!--Add pacientes Button-->
            <div class="my-3">
                <a href="/add"><button type="button" class="btn btn-primary">Add pacientes</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                    <th scope="col">cpf</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">procedimento</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pacientes of pacientess">
                    <td>{{pacientes.cpf}}</td>
                    <td>{{pacientes.name}}</td>
                    <td>{{pacientes.email}}</td>
                    <td>{{pacientes.cpf}}</td>
                    <td>{{pacientes.procedimento}}</td>
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning" (click)="updatepacientes(pacientes.cpf)" type="button">Update</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deletepacientes(pacientes.cpf)" type="button">Delete</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>

<router-outlet></router-outlet>
